<html lang="en">
	<%- include('../partials/head.ejs') %>
	<body>
		<%- include('../partials/nav.ejs') %> <%- include('../partials/header.ejs') %>

		<article class="mb-4">
			<div class="container px-4 px-lg-5" style="position: relative">
				<% if (blog.userName === user.username) { %>
				<a class="delete" data-doc="<%= blog._id %> ">
					<i class="bi bi-trash btn btn-outline-danger rounded-circle p-3" style="font-size: 2rem"></i
				></a>
				<% } %>
				<div class="row gx-4 gx-lg-5 justify-content-center">
					<div class="col-md-10 col-lg-8 col-xl-7">
						<h2 class="section-heading"><%= blog.snippet %></h2>
						<p><%= blog.body %></p>
						<% var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
						<p>
							Created by <em><%= blog.userName %> </em> on <%= blog.createdAt.toLocaleDateString('en-US',
							options)%>.
						</p>
					</div>
				</div>
			</div>
		</article>

		<%- include('../partials/footer.ejs') %>

		<script>
			const trashcan = document.querySelector('a.delete');

			trashcan.addEventListener('click', (e) => {
				const endpoint = `/blogs/${trashcan.dataset.doc}`;

				fetch(endpoint, {
					method: 'DELETE',
				})
					.then((response) => response.json())
					.then((data) => (window.location.href = data.redirect))
					.catch((err) => console.log(err));
			});
		</script>
	</body>
</html>
